{% extends "base.html" %}
{% block title %}{{ cancion.titulo }}{% endblock %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header main-bg-color text-white text-center">
        <h2 class="mb-0">{{ cancion.titulo }}</h2>
    </div>

    <div class="card-body">
        <div id="song-container" data-song-id="{{ cancion.id }}">
            <div class="row g-4">
                <!-- Letra y acordes -->

                <div class="col-lg-6 col-md-12">
                    <h4 class="fw-bold text-danger">Letra y Acordes</h4>
                    <div class="border rounded p-3 bg-light letra-movil">
                        {% for linea in lineas %}
                        {% if linea.tipo_linea == 'acorde'%}
                        <pre class="acordes"> <i> {{ linea.contenido }} </i> </pre>
                        {% elif linea.tipo_linea == 'estribillo' %}
                        <pre class="linea estribillo"><b>{{linea.contenido}}</b></pre>
                        {% else %}
                        <pre class="linea"> {{ linea.contenido }} </pre>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Información adicional -->
                <div class="col-12 col-md-6">
                    <h4 class="fw-bold main-color">Información</h4>
                    <div class="mb-3">
                        <p><strong class="">Tiempo Litúrgico:</strong> {{ tiempo_actual.nombre_tiempo }}</p>
                    </div>
                    <div class="mb-3">
                        <p><strong class="main-color">Tono:</strong></p>
                        <div class="d-flex gap-2 mb-3">
                            <!-- From Uiverse.io by vinodjangid07 -->
                            <button class="Btn d-flex gap-2" id="btn-up">
                                <span>Subir Tono</span>
                                <i class="bi bi-arrow-up svg"></i>
                            </button>


                            <button  class="btn btn-success">
                                <i class="bi bi-arrow-up"></i>
                                Subir tono
                            </button>
                            <button id="btn-down" class="btn btn-warning text-white">
                                <i class="bi bi-arrow-down"></i>
                                Bajar tono
                            </button>
                        </div>
                    </div>
                    <div class="mb-3"><!--zoom-->
                        <div class="d-flex align-items-center gap-2">
                            <div>
                                <button type="button" class="btn btn-outline-info d-flex gap-2" id="btn-zoom-in">
                                    <i class="bi bi-zoom-in"></i>
                                    Aumentar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-warning d-flex gap-2" id="btn-zoom-out">
                                    <i class="bi bi-zoom-out mr-3"></i>
                                    Reducir
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-flex gap-2 align-items-center">
                        <button type="button" class="btn btn-primary d-flex gap-2" id="btn-solo-letra">
                            <i class="bi bi-file-earmark-font icono"></i>Solo letra
                        </button>
                        <button type="button" class="btn btn-primary d-flex gap-2" id="btn-scroll">
                            <i class="bi bi-play-circle"></i>scroll
                        </button>
                        <div class="velocidades d-flex flex-column gap-2">
                            <button type="button" class="btn btn-primary d-flex gap-2" id="btn-pls-speed">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                            <button type="button" class="btn btn-primary d-flex gap-2" id="btn-mn-speed">
                                <i class="bi bi-dash-circle"></i>
                            </button>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <span>Velocidad:</span>
                            <span id="velocidad-actual">1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}