{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!--he cambiado esto para ver si se puede cambiar dinamicamente cuando se realiza una busqueda-->
<h2 id="search-title" class="text-danger fw-bold text-center mb-4"
    data-default-title="Tiempo Litúrgico: {{ tiempo_actual.nombre_tiempo }}">
    Tiempo Litúrgico: {{ tiempo_actual.nombre_tiempo }}
</h2>

<!-- Aquí es donde se actualizarán las canciones -->
<div class="row g-3" id="song-list">
    {% include 'canciones/canciones_list.html'%}
    
</div>

{% endblock %}
