<footer class="main-bg-color text-white text-center py-3 mt-4">
  <div class="mb-2">
    <a href="{% url 'privacidad' %}" class="text-white text-decoration-none mx-2">Privacidad</a>|
    <a href="{% url 'aviso_legal' %}" class="text-white text-decoration-none mx-2">Aviso Legal</a>|
    <a href="{% url 'cookies' %}" class="text-white text-decoration-none mx-2">Política de Cookies</a>|
    <a href="{% url 'terminos' %}" class="text-white text-decoration-none mx-2">Términos y Condiciones</a>
  </div>
  <small>&copy; {% now "Y" %} Cancionero Digital Salesiano</small>
</footer>
