{% load static %}

<header class="main-bg-color text-white">
    <div class="container-fluid  d-flex justify-content-around align-items-center">
        <img src="{% static 'images/logoPrincipal.png' %}" class="width-logo" alt="Logo" style="max-width: 120px;">
        <h1 class="display-3">Cancionero Salesiano</h1>
        <div class="text-end">
            <a href="#" class="text-white"> <!--ENLACE INICIAR SESION O PERFIL: DINAMICAMENTE-->
                <i class="bi bi-person-circle" style="font-size: 5em;"></i>
            </a>
        </div>
        <!--AQUI HAY QUE METER EL MENU DINAMICAMENTE EN FUNCION DE SI EL USUARIO HA INICIADO SESION O NO-->
    </div>
</header>


