{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark main-bg-color">
    <div class="container">
        
        <!-- Botón de hamburguesa para pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Canciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favoritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a> <!-- Este es el espacio en blanco -->
                </li>
            </ul>
        </div>
    </div>
</nav>
