{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark main-bg-color">
    <div class="container">

        <!-- Botón de hamburguesa para pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces de navegación -->
        <!-- Las letras tendria que se o mas gruesas o más vistosas no se ve nada-->

        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <div class="d-flex w-100 align-items-center justify-content-center">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'canciones' %}">Canciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Listas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a> <!-- Este es el espacio en blanco -->
                    </li>
                </ul>
            </div>

        </div>
</nav>