{% extends "base.html" %}
{% load i18n allauth %}

{% block title %}{% trans "Establecer contraseña" %}{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5">

      <div class="card shadow-sm p-4">
        <h1 class="mb-4 text-center">{% trans "Establecer contraseña" %}</h1>

        {% url 'account_set_password' as action_url %}
        <form method="post" action="{{ action_url }}">
          {% csrf_token %}
          {{ redirect_field }}

          {{ form.as_p }}

          <button type="submit" name="action" class="btn btn-danger w-100 mt-3">
            {% trans "Establecer contraseña" %}
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
