{% extends "base.html" %}
{% load i18n allauth account %}

{% block head_title %}
    {% translate "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5">

      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h1 class="card-title mb-4 text-center">{% translate "Send me a sign-in code" %}</h1>
          <p class="mb-4 text-center">
            {% blocktranslate %}You will receive a special code for a password-free sign-in.{% endblocktranslate %}
          </p>

          <form method="post" action="{% url 'account_request_login_code' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ redirect_field }}
            <button type="submit" class="btn btn-danger w-100 mt-3">
              {% translate "Request Code" %}
            </button>
          </form>

          <div class="mt-3 text-center">
            <a href="{% url 'account_login' %}" class="btn btn-link">
              {% translate "Other sign-in options" %}
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
