/* Usar @font-face para cargar las fuentes locales */
@font-face {
    font-family: 'Raleway';
    src: url("{% static 'fonts/Raleway/static/Raleway-Regular.ttf' %}") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("{% static 'fonts/Raleway/static/Raleway-Bold.ttf' %}") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("{% static '/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf' %}") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("{% static '/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf' %}") format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bg-color{
    background-color: #d81e14;
}
.main-color{
    color: #d81e14;
}

.width-logo{
    width: 120px;
}

h1,h2,h3,h4,h5{
    font-family: 'Playfair Display';
}

p{
    font-family: 'Raleway';
}

pre{
    font-size: 1em !important;
}

/*Estilos del seatrch*/
/* From Uiverse.io by ercnersoy */ 
.i-search{
 border: none;
 padding: 1rem;
 border-radius: 1rem;
 background: #e8e8e8;
 box-shadow: 20px 20px 60px #c5c5c5,
		-20px -20px 60px #ffffff;
 transition: 0.3s;
}

.i-searh:focus {
 outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}

/* Estilo para el contenedor del banner con la imagen de fondo */
.banner-container {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.imagen-banner {
    position: absolute;
    filter: saturate(90%) brightness(80%); ;
    top: 0;
    left: 0;
    z-index: -1;
}

.content-banner {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.letra-movil{
   max-height: 400px; /* o lo que prefieras */
    overflow-y: auto;
}

/*Tamaño aproximado de tablets...*/
@media screen and (max-width: 912px) { 
    .letra-movil{
        text-align: center;
    }
    
}



