/* Usar @font-face para cargar las fuentes locales */
@font-face {
    font-family: 'Raleway';
    src: url("{% static 'fonts/Raleway/static/Raleway-Regular.ttf' %}") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("{% static 'fonts/Raleway/static/Raleway-Bold.ttf' %}") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("{% static '/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf' %}") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("{% static '/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf' %}") format('truetype');
    font-weight: 700;
    font-style: normal;
}


.main-bg-color{
    background-color: #d81e14;
}
.main-color{
    background-color: #d81e14;
}

.width-logo{
    width: 120px;
}

h1,h2,h3,h4,h5{
    font-family: 'Playfair Display';
}

p{
    font-family: 'Raleway';
}

/* Estilo para el contenedor del banner con la imagen de fondo */
.banner-container {
    backdrop-filter: blur(15px) saturate(0%) brightness(80%);
    -webkit-backdrop-filter: blur(15px) saturate(40%) brightness(80%);
    background-color: rgba(255, 255, 255, 0.3);
    height: 400px;
    position: relative;
    overflow: hidden;
}

.imagen-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: saturate(90%) brightness(80%); ;
    top: 0;
    left: 0;
    z-index: -1;
}

.content-banner {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    text-align: center;
}



