{% load i18n %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  {% if not SOCIALACCOUNT_ONLY %}
    <hr class="my-4">
    <p class="text-center text-muted">{% translate "O inicia sesión con:" %}</p>
  {% endif %}

  <div class="d-flex flex-column gap-2 mt-3">
    {% for provider in socialaccount_providers %}
      <a href="{% provider_login_url provider.id process=process %}" class="btn btn-outline-{{ provider.id|lower }}">
        <i class="fab fa-{{ provider.id|lower }} me-2"></i> {% blocktrans %}Iniciar sesión con {{ provider.name }}{% endblocktrans %}
      </a>
    {% endfor %}
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
